body {
  font-family: cursive;
  margin: 0;
  padding: 0;
}

/* Font */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

/* Navigation Style */
ul.Navigatie {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #E6E6FA;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

ul.Navigatie li.Navigatie {
  float: left;
}

ul.Navigatie li a.Navigatie {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Hover color */
ul.Navigatie li a.Navigatie:hover {
  background-color: #6495ed;
}

/* Flexbox  */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #E6E6FA;
  padding: 0 16px;
}

.hz-logo {
  max-height: 50px;
}

/* Table style */
tr.table {
  background-color: #6495ed;
  color: #E6E6FA;
}

p {
  font-size: 20px;
}

/* footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #6495ed;
  color: white;
  text-align: center;

}

/* text home/about me/faq/blog/dashboard */
h1.text {
  color: aliceblue;
  text-align: center;
  font-size: large;
}


body.Dashboard {
  background-color: #E6E6FA;
}

/*border images */

img.images-profile {

  margin-bottom: 15px;
  border: 2px solid black;
  max-width: fit-content;

}

.image-container {
  display: flex;
  flex-direction: row;

  gap: 20px;
}
/*font size faq questions inside */
p.faq  {
  font-size: medium;
}
p.homep {
  font-size: small;
    position: relative;
  
    top: calc(-3em + 10px);
}

.homeDetails[open] {
  position: fixed;
float: right;

}

table.faq-questions
{
  display: flex;
 
}
/*backgroundcolor faq */
body.faq-back
{
  background-color: #E6E6FA;
}
/*size bottom faq */
p.question1
{
  font-size: large;

}
p.question2
{
  font-size: small;
}
img.questionmark
{
  display: flex;
  float: right;
margin-right: 20px;}

.homeSummary{
  cursor: pointer;
  position: relative;
  top: calc(12em + 4px);
  ;
}

.table-Future {
  padding-left: 5%;
}

/* -------banner-------  */
.image-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.image-container img{
  display: block;
  height: auto;
  width: 100%;
}

.overlay-text {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #00000063;
  color: #ffffff;
  padding: 15px 20px;
  font-size: 100px;
  font-family: Lato;
  font-weight: 900;
  text-align: center;
  border: 3px solid 0000007c;
  border-radius: 20px;
}