

body {
    font-family: cursive;
    
    /* Fonts*/
    }
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      body {margin:0;padding:0}
      
      img.rcr {
        border-radius: 30px;
        float: right;
        display: block;
    }
    ul.Navigatie {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  
 
       
    a.Navigatie {
      color: aliceblue;
    }
    ul.Navigatie {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #E6E6FA ;
    }
    
    li.Navigatie {
      float: left;
    }
    
    li.Navigatie a.Navigatie {
      display: block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    /* hover color */
    li.Navigatie a:hover.Navigatie {
      background-color: #6495ed;
    }